<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/  -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>        <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>        <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
             More info: h5bp.com/b/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Paul Gauguin</title>
    <meta name="description" content="A timeline put together by a group of Baylor University students for Modern European Art spanning from roughly 1850 to 1940.">
    <meta name="author" content="Josh Matz">

    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
     <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../js/libs/jquery-1.6.2.min.js"><\/script>')</script>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
    <link href="../../favicon.ico" type="image/x-icon" rel="icon" /><link href="../../favicon.ico" type="image/x-icon" rel="shortcut icon" /><link rel="stylesheet" type="text/css" href="../../css/jquery-ui-1.8.16.custom.css" /><link rel="stylesheet" type="text/css" href="../../css/prettyPhoto.css" /><link rel="stylesheet" type="text/css" href="../../css/style.css" /><script type="text/javascript" src="../../js/libs/modernizr-2.0.6.min.js"></script><script type="text/javascript" src="../../js/libs/jquery.autocomplete.min.js"></script><script type="text/javascript" src="../../js/libs/jquery.jeditable.mini.js"></script>    <!-- end CSS-->
    

    <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->
</head>

<body>

    <div id="container">
        <header>
            <h1 style="text-align:left; font-family: 'OpenSansExtrabold', sans-serif; font-size:72px; color: #4886BA; padding-left: 13px; ">Paul Gauguin            <span style="float: right; text-align: right; font-family: 'OpenSansBold', sans-serif; font-size: 36px; padding-right: 13px; margin-top: 20px;">1848-1903</span>
            </h1>
            <div style="clear:both;"></div>
        </header>
        <div id="content">
                <div id="scrubber-container">
                    <nav id="timeline-scrubber">
                        <div class="menu">
                            <span><a href="11.html#" id="jump-to">Select a Decade</a></span>
                            <ul class="scrubber" id="anchors">
                                <li class="first-item"><a href="../../../mea_timeline.html#1850">1850</a></li>
                                <li><a href="../../../mea_timeline.html#1860">1860</a></li>
                                <li><a href="../../../mea_timeline.html#1870">1870</a></li>
                                <li><a href="../../../mea_timeline.html#1880">1880</a></li>
                                <li><a href="../../../mea_timeline.html#1890">1890</a></li>
                                <li><a href="../../../mea_timeline.html#1900">1900</a></li>
                                <li><a href="../../../mea_timeline.html#1910">1910</a></li>
                                <li><a href="../../../mea_timeline.html#1920">1920</a></li>
                                <li class="last-item"><a href="../../../mea_timeline.html#1930">1930</a></li>
                            </ul>
                            <div style="clear:both;">
                            </div>
                        </div>
                        <form action="http://jmhosting.space/mea_timeline/pages/search" id="SearchViewForm" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"/></div><div class="input text"><input name="data[Search][search]" style="float: right" id="Search" autocomplete="off" type="text"/></div>
<script type="text/javascript">
//<![CDATA[
 $('#Search').autocomplete('/mea_timeline/pages/autocomplete', {});
//]]>
</script><div class="submit"><input  style="float: right;" type="submit" value="SEARCH"/></div></form>                        <div style="clear:both;">
                        </div>
                    </nav>
                    
                </div>
            <div id="main" role="main" class="clearfix">
                                <div class="artist-detail" style="margin: 50px 50px; font-family: 'OpenSansSemibold', sans-serif; width: 491px; border-right: 1px solid #2f3030; padding-right: 50px; float: left;">
    Eugène Henri Paul Gauguin was a leading French Post-Impressionist artist. He was an important figure in the Symbolist movement as a painter, sculptor, print-maker, ceramist, and writer. His bold experimentation with coloring led directly to the Synthetist style of modern art while his expression of the inherent meaning of the subjects in his paintings, under the influence of the cloisonnist style, paved the way to Primitivism and the return to the pastoral. He was also an influential proponent of wood engraving and woodcuts as art forms.</div>
<div class="artist-movement" style="margin: 50px 50px; font-family: 'OpenSansSemibold', sans-serif; width: 190px; float: left; padding-top: 25px; text-align: center;">
    <a href="../../movements/view/10.html" style="font-size: 18px; text-decoration: none;">Post Impressionism</a></div>

<div class="related-artworks" style="float: left; margin-left: 13px; width: 786px;">
    <div class="artworks-header" style="border-bottom: 1px solid #2f3030; font-family: 'OpenSansLight', sans-serif; font-size: 36px; color: #4886BA; margin-bottom: 10px;">
        ARTWORKS
    </div>
            <div style="width: 115px; height: 115px; margin-left: 0px; margin-bottom: 19px; background-color: gray; float: left; overflow: hidden;">
            <a href="../../attachments/artwork_4.jpg" rel="prettyPhoto[artist_11]" title="The Yellow Christ is a painting executed by Paul Gauguin in autumn 1889 in Pont-Aven. Together with The Green Christ, it is considered to be one of the key-works of Symbolism in painting."><img src="../../attachments/artwork_4_thumb.jpg" alt="The Yellow Christ" /></a>      </div>
            <div style="width: 115px; height: 115px; margin-left: 19px; margin-bottom: 19px; background-color: gray; float: left; overflow: hidden;">
            <a href="../../attachments/artwork_7.jpg" rel="prettyPhoto[artist_11]" title="oil on canvas, 1893"><img src="../../attachments/artwork_7_thumb.jpg" alt="Tahitian Landscape " /></a>        </div>
            <div style="width: 115px; height: 115px; margin-left: 19px; margin-bottom: 19px; background-color: gray; float: left; overflow: hidden;">
            <a href="../../attachments/artwork_74.jpg" rel="prettyPhoto[artist_11]" title="This painting is a collaboration of imagery from the Polynesians. He has situated Tahitians all over and has created an ease look on their faces. He liked the complex composition with forms overlapping and the deep space he created. The element of color and the way he used light gave the painting a mysterious feeling. "><img src="../../attachments/artwork_74_thumb.jpg" alt="Where Do We Come From? What Are We? Where Are We Going?" /></a>     </div>
            <div style="width: 115px; height: 115px; margin-left: 19px; margin-bottom: 19px; background-color: gray; float: left; overflow: hidden;">
            <a href="../../attachments/artwork_76.jpg" rel="prettyPhoto[artist_11]" title="He created patterns of color within this painting using blue, red, black, and white. He is depicting a biblical scene where Jacob is wrestling with the Angel. He made the flat plane of color red to symbolize Jacobs struggle. He constructed this space so that there was a foreground, middle ground, and background, but then the color red makes the space come forward."><img src="../../attachments/artwork_76_thumb.jpg" alt="Vision After the Sermon" /></a>       </div>
        
    <div style="text-align:center;">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- MEA Artists -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-4469043209736151"
             data-ad-slot="1278545903"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>            </div>
        </div>
        <footer>
            <a href="http://www.cakephp.org/" target="_blank"><img src="../../img/cake.power.gif" alt="The Grand Modern European Art Timeline" border="0" /></a>        </footer>
    </div> <!--! end of #container -->


    
   


    <!-- scripts concatenated and minified via ant build script-->
    <script defer src="../../js/plugins.js"></script>
    <script defer src="../../js/script.js"></script>
    <script type="text/javascript" src="../../js/libs/jquery.prettyPhoto.js"></script><script type="text/javascript" src="../../js/libs/jquery-ui-1.8.16.custom.min.js"></script>    <!-- end scripts-->

    
    <!-- Change UA-XXXXX-X to be your site's ID -->
    <script>
        window._gaq = [['_setAccount','UA-22410759-3'],['_trackPageview'],['_trackPageLoadTime']];
        Modernizr.load({
            load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
        });
    </script>


    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
             chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7 ]>
        <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
        <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
        <!-- JavaScript at the bottom for fast page loading -->
    <script>
    $(document).ready(function(){
    var nav = $('#timeline-scrubber');
    nav.find('ul.scrubber').hide();
    
    $(".scroll").click(function(event){     
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top - 127}, 500);

        nav.find('ul.scrubber').slideToggle();
    });
    
    $("a[rel^='prettyPhoto']").prettyPhoto({
            social_tools: false,
            allow_resize: false,
             default_width: 500
        });
    
    $(document).bind('click', function(e) {
        var target = $( e.target );
        if ( target.closest('#timeline-scrubber').length < 1 ) {
            nav.find('ul.scrubber').hide();
            return;
        }
        if ( target.parent().is('span') ) {
            var li = target.closest('.menu');
            li.siblings().find('ul.scrubber').hide();
            li.find('ul.scrubber').slideToggle();
            e.preventDefault();
        }
    })
    });
    
    // Get a reference to the placeholder. This element
    // will take up visual space when the message is
    // moved into a fixed position.
    var placeholder = $( "#scrubber-container" );
 
    // Get a reference to the message whose position
    // we want to "fix" on window-scroll.
    var message = $( "#timeline-scrubber" );
 
    // Get a reference to the window object; we will use
    // this several time, so cache the jQuery wrapper.
    var view = $( window );
 
 
    // Bind to the window scroll and resize events.
    // Remember, resizing can also change the scroll
    // of the page.
    view.bind(
        "scroll resize",
        function(){
            // Get the current offset of the placeholder.
            // Since the message might be in fixed
            // position, it is the plcaeholder that will
            // give us reliable offsets.
                    var placeholderTop = placeholder.offset().top;
 
                    // Get the current scroll of the window.
                    var viewTop = view.scrollTop();
 
                    // Check to see if the view had scroll down
            // past the top of the placeholder AND that
            // the message is not yet fixed.
            if (
                (viewTop > placeholderTop) &&
                !message.is( ".site-message-fixed" )
                        ){
 
                        // The message needs to be fixed. Before
                // we change its positon, we need to re-
                // adjust the placeholder height to keep
                // the same space as the message.
                //
                // NOTE: All we're doing here is going
                // from auto height to explicit height.
                        placeholder.height(
                            placeholder.height()
                        );
 
                        // Make the message fixed.
                message.addClass( "site-message-fixed" );
 
                    // Check to see if the view has scroll back up
            // above the message AND that the message is
            // currently fixed.
            } else if (
                (viewTop <= placeholderTop) &&
                message.is( ".site-message-fixed" )
                        ){
 
                        // Make the placeholder height auto again.
                placeholder.css( "height", "auto" );
 
                        // Remove the fixed position class on the
                // message. This will pop it back into its
                // static position.
                message.removeClass( "site-message-fixed" );
 
            }
        }
    );
    </script>
</body>
</html>